<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="provider" value="System.Data.SqlClient"/>
		<add key="cnStr" value="Data Source=.\SQLExpress;Initial Catalog=AutoLot;Integrated Security=True;Pooling=False;Encrypt=True;TrustServerCertificate=True"/>
	</appSettings>
	<connectionStrings>
		<add name="AutoLotSqlProvider" connectionString="Data Source=.\SQLExpress;Initial Catalog=AutoLot;Integrated Security=True;Pooling=False;Encrypt=True;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>